body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
  
#error
  margin:5px
  padding:3px
  background-color: #FF4444
  border: 1px solid black

div.footer
  margin-top: 10px

div.footer span
  padding-left: 2px
  padding-right: 3px
  font-size: 8pt